:root {
                --header-image: url('');
                --body-bg-image: url('img/lo-res/bg-chess.gif');
}

* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    font-style: italic;
    word-wrap: normal;
    color: MidnightBlue;
    margin: 0;
    background-image: var(--body-bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: DarkSlateGray;
}

#container {
    max-width: 900px;
    margin: 0 auto;
}

#container a {
    color: LimeGreen;
    font-weight: bold;
}

header { 
    display: flex;
    height: auto;
    background-image: var(--header-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: LightSeaGreen;
}

section {
    display: flex;
    height: 400px;
    background-color: LightSeaGreen;
    flex: 1;
    padding: 20px;
    order: 2;
}

aside {
    display: flex;
    order: 1;
    height: 400px;
    background-color: LightSeaGreen;
}

footer {
    display: flex;
    background-color: LightSeaGreen;
    width: 100px;
    height: 40px;
    padding: 10px;
    margin: 0 auto;
	text-align: center;
}

.outline {
	outline-style: ridge;
    outline-width: thick;
	outline-color: DarkTurquoise;
	border-radius: 10px;
    margin-top: 20px;
    margin-bottom:20px;
}

h1 {
	display: block;
    text-align: right;
}

h2 {
	display: block;
    text-align: center;
}

h3 {
	display: block;
    text-align: right;
    
}

h4  {
	display: block;
    text-align: right;
    }
@media only screen and (max-width: 800px) {
    #flex {
    flex-wrap: wrap;
}
    aside {
    width: 100%;
    order: 2;
}
    section {
    order: 1;
}
