:root {
                --header-image: url('');
                --body-bg-image: url('img/lo-res/bg-chess.gif');
}

* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    font-style: italic;
    word-wrap: normal;
    color: MidnightBlue;
    margin: 0;
    background-image: var(--body-bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: DarkSlateGray;
    display: grid;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    'header header header'
    'aside section section'
    'footer footer footer';
    gap: 20px;
    justify-content: center;
}

#container a {
    color: LimeGreen;
    font-weight: bold;
}

header { 
    height: auto;
    background-image: var(--header-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: LightSeaGreen;
}

section {
    height: 400px;
    background-color: LightSeaGreen;
    padding: 20px;
}

aside {
    height: 400px;
    width: 200px;
    padding: 20px;
    background-color: LightSeaGreen;
}

footer {
    background-color: LightSeaGreen;
    width: 100px;
    height: 40px;
    padding: 20px;
    margin: 0 auto;
	text-align: center;
}

.outline {
	outline-style: ridge;
    outline-width: thick;
	outline-color: DarkTurquoise;
	border-radius: 10px;
    margin-top: 30px;
    margin-bottom:30px;
}

@media only screen and (max-width: 800px) {
    #flex {
    flex-wrap: wrap;
}
    aside {
    width: 100%;
    order: 2;
}
    section {
    order: 1;
}
